/* Reset de estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.text-container {
    text-align: center;
    margin-bottom: 20px; /* Reduzi a margem para uma aparência mais sutil */
    text-align: center;
}

/* Estilos para o contêiner principal */
.container-h1 {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Empilhar os elementos verticalmente */
}

.main-genio {
    margin-top: 17vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-genio {
    display: flex;
    justify-content: center;
}

.input-genio {
    width: 90vh;
    height: 4vh;
    border: none;
    background-color: #E9ECEF;
    font-family: 'Lato-Bold';
}

.buttom-genio {
    width: 10vh;
    background-color: #FFBA08;
    color: #fff;
    font-size: 15px;
    font-style: bold;
    border: none;
    cursor: pointer;
    font-family: 'Lato-Bold';
}

.result-genio {
    width: 100vh;
    height: 50vh;
    background-color: #CED4DA;
    padding: 2vh;
    font-size: 18px;
}

.genio-container {
    border: 1px #6C757D solid;
    margin-top: 5vh;
    font-family: 'Lato-Bold';
}