:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(0, 7%, 97%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #000000;
    --body-color: hsl(220, 100%, 97%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*background-color: var(--black-color);*/
  }